.pic1Talents {
  width: 105%;
  pointer-events: none;
}
.talents1 {
  width: 100%;
  margin-right: 0px;
}
.talentText {
  margin-top: 77px;
}
.Tpicture1 {
  margin-right: 0px;
}
.btnPink {
  margin-top: 45px !important;
  background-color: #e72862; /*OFICIAL PINK*/
  border: none;
  color: white;
  overflow: hidden;
  padding: 0px;
  text-transform: uppercase;
  width: 350px;
  height: 50px;
  border-radius: 30px;
}
.work {
  margin-top: 25px;
  margin-bottom: 100px;
}
.talents2 h1,
.talents3 h1,
.talents4 h1,
.talents5 h1 {
  margin-bottom: 0px !important;
}
.talents2 {
  margin-top: 75px;
  text-align: center;
  background-image: url("../../../img/TalentsPage/Design2Talents.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 115px;
}
.steps {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: left;
}
.contract {
  height: 130px;
  margin-top: -26px;
  margin-left: 28px;
  pointer-events: none;
}
.five {
  margin-left: 28% !important;
}
.three,
.one {
  margin-left: 28% !important;
}.hired {
  margin: 43px;
}
.moved {
  margin-left: 38% !important;
}
.NoImg {
  height: 175px;
  pointer-events: none;
}
.talents3 {
  margin-bottom: 50px;
  text-align: center;
}
.talents4 {
  display: flex;
  margin-bottom: 50px;
  text-align: center;
}
.down1 {
  margin-left: 47px;
  padding-top: 120px;
  pointer-events: none;
}
.down2 {
  margin-left: 50px;
  padding-top: 200px;
  pointer-events: none;
}
.divImgUp {
  margin-top: -20px;
  margin-left: 5%;
}
.marginRight {
  margin-right: 6%;
}
.divMarginLeft {
  margin-left: 8%;
}
.up {
  padding-bottom: 0px;
  margin-left: 27px;
  pointer-events: none;
}
.GraphImg {
  width: 60%;
}
.down1 {
  width: 53%;
}
.talents5 {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  overflow: auto;
  background-color: #b2b2b2 !important;
}
.pinkBox {
  width: 100%;
  pointer-events: none;
}
.talents5 h1,
.talents5 h4 {
  line-height: 50px;
}
.talentForm {
  display: inline-block;
  width: 400px;
  height: 60px;
  font-size: x-large;
  border-radius: 20px;
  margin: 5px;
  border: 1px solid grey;
}
.talents6 {
  text-align: center;
  background-color: #b2b2b2; /*OFICIAL GREY*/
}
.span {
  display: block;
  color: red;
  text-align: center;
}
.spanRegistered {
  display: block;
  color: red;
  text-align: center;
}
.btnDoIt {
  font-size: 44px;
  background-color: #e72862; /*OFICIAL PINK*/
  width: 50%;
  color: white;
  padding-left: 15px;
  border: none;
  margin-top: 25px;
  margin-bottom: 50px;
}

/*------------- iPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .talentText {
    margin-top: 28px;
    padding: 0px !important;
    padding-left: 9px!important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 161%;
    margin-left: -25px;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 304px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 10px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px !important;
  }
  .work h3 {
    margin-bottom:0px!important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 60px !important;
    text-align: left;
    background-position-y: 31px !important;
    background-position-x: 220px;

  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 25% !important;
  }
  .three,
  .one, .five {
    margin-left: 15% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  /* .container {
    margin-bottom: -15px;
  } */
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 104%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .talentText {
    margin-top: 28px;
    padding: 0px !important;
    padding-left: 15px!important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 161%;
    margin-left: -25px;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 12px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 10px !important;
  }  
  .work h3 {
    margin-bottom:0px!important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 60px !important;
    text-align: left;
    background-position-y: 31px !important;
    background-position-x: 220px;

  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 30% !important;
  }
  .three,
  .one, .five {
    margin-left: 15% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 104%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
  .talentText {
    margin-top: 28px;
    padding: 0px !important;
   }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 161%;
    margin-left: -25px;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 12px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px !important;
  }
  .work h3 {
    margin-bottom:0px!important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 60px !important;
    text-align: left;
    background-position-y: 31px !important;
    background-position-x: 220px;

  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 6% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 104%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
  .talentText {
    margin-top: 28px;
    padding: 0px !important;
    padding-left: 15px!important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 161%;
    margin-left: -25px;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 12px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 15px !important;
  }
  .work h3 {
    margin-bottom:0px!important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 60px !important;
    text-align: left;
    background-position-y: 31px !important;
    background-position-x: 220px;

  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 18% !important;
  }
  .three,
  .one, .five {
    margin-left: 9% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 104%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}

/* ------------ Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .talentText {
    margin-top: 28px;
    padding: 0px !important;
    padding-left: 15px!important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 159%;
    margin-left: -39px;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 12px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 15px !important;
  }
  .work h3 {
    margin-bottom:0px!important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 66px !important;
    text-align: left;
    background-position-y: 29px !important;
    background-position-x: 250px;
  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 20% !important;
  }
  .three,
  .one, .five {
    margin-left: 10% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 104%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}
  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .talentText {
    margin-top: 28px;
    padding: 0px !important;
    padding-left: 15px!important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 164%;
    margin-left: -48px;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 12px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 15px !important;
  }
  .work h3 {
    margin-bottom:0px!important;
  }
  .steps {
   
    background-repeat: no-repeat;
    background-size: 66px !important;
    text-align: left;
    background-position-y: 29px !important;
    background-position-x: 250px;
    margin-left: 21px!important;
  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 16% !important;
  }
  .three,
  .one,.five {
    margin-left: 5% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 104%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}
/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .talentText {
    margin-top: 28px;
    padding: 0px !important;
    padding-left: 15px!important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 150%;
    margin-left: -36px;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 405px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 12px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px !important;
  }
  .work h3 {
    margin-bottom:0px!important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 66px !important;
    text-align: left;
    background-position-y: 29px !important;
    background-position-x: 250px;
    margin-left: 21px!important;
  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 80px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 30% !important;
  }
  .three,
  .one, .five {
    margin-left: 15% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 78%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 91%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}

/* ------------- Landscape position (Horizontal) ------------*/

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .talentText {
    margin-top: 85px!important;
    padding: 0px !important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 153%!important;
    margin-left: -25px!important;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 352px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 104px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 10px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px !important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 60px !important;
    text-align: left;
    background-position-y: 31px !important;
    background-position-x: 220px;

  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 40% !important;
  }
  .three,
  .one, .five {
    margin-left: 32% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 114%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
  .talentText {
    margin-top: 75px!important;
    padding: 0px !important;
  }
  .talentText h1 {
    margin-bottom: 6px !important;
  }
  .pic1Talents {
    width: 131%!important;
    margin-left: -25px!important;
  }
  .btnPink {
    margin-top: 0px !important;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px!important;
  }
  .hired {
    padding:0px!important;
    margin: 9px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px !important;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 70px !important;
    text-align: left;
    background-position-y: 17px !important;
    background-position-x: 377px!important;

  }
  .contract {
    height: 68px !important;
    margin-top: -13px !important;
    margin-left: -41px !important;
  }
  .NoImg {
    height: 95px !important;
  }
  .adjustM {
    margin-bottom: 0px !important;
  }
  .moved {
    margin-left: 40% !important;
  }
  .three,
  .one, .five {
    margin-left: 28% !important;
  }
  .talents2 {
    padding-bottom: 35px !important;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px !important;
  }
  .talentForm {
    font-size: smaller !important;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem !important;
  }
  .btnDoIt {
    font-size: 1rem !important;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    padding: 0px;
  }
  .NoImg {
    height: 60px !important;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 114%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem !important;
    margin-bottom: 0px !important;
  }
  .agree {
    font-size: 0.6rem !important;
    margin-bottom: 20px !important;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
  .talentText {
    margin-top: 28px;
    padding: 0px ;
  }
  .talentText h1 {
    margin-bottom: 6px ;
  }
  .pic1Talents {
    width: 161%;
    margin-left: -25px;
  }
  .btnPink {
    margin-top: 0px ;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 127px;
    padding: 0px;
  }
  .hired {
    padding:0px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px ;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 60px ;
    text-align: left;
    background-position-y: 31px ;
    background-position-x: 220px;

  }
  .contract {
    height: 68px ;
    margin-top: -13px ;
    margin-left: -41px ;
  }
  .NoImg {
    height: 95px ;
  }
  .adjustM {
    margin-bottom: 0px ;
  }
  .moved {
    margin-left: 4% ;
  }
  .three,
  .one {
    margin-left: 8% ;
  }
  .talents2 {
    padding-bottom: 35px ;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 68%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px ;
  }
  .talentForm {
    font-size: smaller ;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem ;
  }
  .btnDoIt {
    font-size: 1rem ;
    margin-top: 10px ;
    margin-bottom: 15px ;
    padding: 0px;
  }
  .NoImg {
    height: 60px ;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 85%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem ;
    margin-bottom: 0px ;
  }
  .agree {
    font-size: 0.6rem ;
    margin-bottom: 20px ;
  }
}

/* ----------------- Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .talentText {
    margin-top: 60px;
    padding: 0px ;
  }
  .talentText h1 {
    margin-bottom: 6px ;
  }
  .pic1Talents {
    width: 139%;
    margin-left: -48px;
  }
  .btnPink {
    margin-top: 0px ;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 75px;
    padding: 0px;
  }
  .hired {
    padding:0px!important;
    margin: 10px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px ;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 70px ;
    text-align: left;
    background-position-y: 9px ;
    background-position-x: 366px;
  }
  .contract {
    height: 68px!important;
    margin-top: -13px!important;
    margin-left: 5px!important;
  }
  .NoImg {
    height: 95px ;
  }
  .adjustM {
    margin-bottom: 0px!important;
  }
  
  .moved {
    margin-left: 42%!important;
  }
  .three,
  .one, .five {
    margin-left: 31%!important;
  }
  .talents2 {
    padding-bottom: 35px ;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 67%;
    margin-left: 23px;
}
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px ;
  }
  .talentForm {
    font-size: smaller ;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem ;
  }
  .btnDoIt {
    font-size: 1rem ;
    margin-top: 10px ;
    margin-bottom: 15px ;
    padding: 0px;
  }
  .NoImg {
    height: 60px ;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 80%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem ;
    margin-bottom: 0px ;
  }
  .agree {
    font-size: 0.6rem ;
    margin-bottom: 20px ;
  }
  .talents6 {
    margin-bottom: 40px;
  }
  
}
  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .talentText {
    margin-top: 28px;
    padding: 0px ;
  }
  .talentText h1 {
    margin-bottom: 6px ;
  }
  .pic1Talents {
    width: 164%;
    margin-left: -48px;
  }
  .btnPink {
    margin-top: 0px ;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 332px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 5px;
    padding: 0px;
  }
  .hired {
    padding:0px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px ;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 66px ;
    text-align: left;
    background-position-y: 29px ;
    background-position-x: 250px;
  }
  .contract {
    height: 68px ;
    margin-top: -13px ;
    margin-left: -41px ;
  }
  .NoImg {
    height: 95px ;
  }
  .adjustM {
    margin-bottom: 0px ;
  }
  .moved {
    margin-left: 4% ;
  }
  .three,
  .one {
    margin-left: 8% ;
  }
  .talents2 {
    padding-bottom: 35px ;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 93%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px ;
  }
  .talentForm {
    font-size: smaller ;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem ;
  }
  .btnDoIt {
    font-size: 1rem ;
    margin-top: 10px ;
    margin-bottom: 15px ;
    padding: 0px;
  }
  .NoImg {
    height: 60px ;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 114%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem ;
    margin-bottom: 0px ;
  }
  .agree {
    font-size: 0.6rem ;
    margin-bottom: 20px ;
  }
}
/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .talentText {
    margin-top: 28px;
    padding: 0px ;
  }
  .talentText h1 {
    margin-bottom: 6px ;
  }
  .pic1Talents {
    width: 164%;
    margin-left: -48px;
  }
  .btnPink {
    margin-top: 0px ;
    width: 93px;
    font-size: 7px;
    height: 22px;
  }
  .talents2 {
    margin-top: 0px;
    background-size: 352px;
    padding-bottom: 115px;
    background-position-y: 39px;
    background-position-x: 104px;
    padding: 0px;
  }
  .hired {
    padding:0px;
  }
  .work {
    margin-top: 14px;
    margin-bottom: 30px ;
  }
  .steps {
    background-repeat: no-repeat;
    background-size: 72px ;
    text-align: left;
    background-position-y: 29px ;
    background-position-x: 342px;
  }
  .contract {
    height: 68px ;
    margin-top: -13px ;
    margin-left: -41px ;
  }
  .NoImg {
    height: 95px ;
  }
  .adjustM {
    margin-bottom: 0px ;
  }
  .moved {
    margin-left: 4% ;
  }
  .three,
  .one {
    margin-left: 8% ;
  }
  .talents2 {
    padding-bottom: 35px ;
  }
  .talents3 {
    margin-bottom: 20px;
  }
  .container {
    margin-bottom: -15px;
  }
  .down1,
  .down2 {
    padding-top: 50px;
  }
  .down1 {
    width: 75%;
    margin-left: 0px;
  }
  .up {
    margin-left: 9px;
    margin-top: 5px;
  }
  .marginRight {
    margin-right: 30px;
  }
  .talents4 {
    margin-bottom: 0px ;
  }
  .talentForm {
    font-size: smaller ;
  }
  .span {
    margin-left: 0px;
    display: block;
  }
  .spanRegistered {
    font-size: 0.6rem ;
  }
  .btnDoIt {
    font-size: 1rem ;
    margin-top: 10px ;
    margin-bottom: 15px ;
    padding: 0px;
  }
  .NoImg {
    height: 60px ;
  }
  .contract {
    height: 133px;
    margin-top: -31px;
    margin-left: -78px;
  }
  .GraphImg {
    width: 85%;
    margin: 0px;
  }
  .divMarginLeft {
    margin-left: 0px;
  }
  .divImgUp {
    margin: 0px;
  }
  .marginRight {
    margin-right: 0px;
  }
  .span {
    font-size: 0.6rem ;
    margin-bottom: 0px ;
  }
  .agree {
    font-size: 0.6rem ;
    margin-bottom: 20px ;
  }
}