.clicked {
  color: #b2b2b2;
  text-decoration: underline;
}
.talentRegistration {
  display: block;
  margin-top: 50px;
  text-align: center;
  background-image: url("../../../img/Registration/TalentsGroup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60px;
}
.talentRegistration h1 {
  margin-bottom: 0px !important;
}
.companyRegistration {
  display: block;
  margin-top: 50px;
  text-align: center;
  background-image: url("../../../img/Registration/CompaniesGroup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -40px;
}
.companyRegistration h1 {
  margin-bottom: 0px !important;
}
.border {
  border: 1px solid #b2b2b2 !important;
  width: 50%;
}
.formulary {
  padding-left: 11%;
  margin-top: 60px;
}
button {
  border: none;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  width: max-content;
}
.btnTalent,
.btnCompany {
  margin: 20px;
  background: none;
  color: black;
}
.btnTalent:hover {
  color: #67397d; /* OFICIAL PURPLE*/
  text-decoration: underline;
}
.btnTalent:active {
  text-decoration: underline;
}
.btnCompany:hover {
  color: #57b368; /* OFICIAL GREEN*/
  text-decoration: underline;
}
.join {
  margin-top: 20px;
  border: 1px solid #e72862 !important;
  background-color: #e72862 !important;
  border-radius: 20px !important;
  color: white !important;
  width: 243px;
  height: 46px;
}
.talentReg {
  text-align: left;
  display: inline-block;
  font-size: larger;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid grey;
  width: 70%;
}
.companyReg {
  text-align: left;
  display: inline-block;
  font-size: larger;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid grey;
  width: 70%;
}
.spanError {
  text-align: left;
  margin-left: 20%;
  color: red;
}

@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .companyRegistration,
  .talentRegistration {
    margin-top: 20px;
  }
  .companyRegistration h5,
  .talentRegistration h5 {
    margin-bottom: 0px !important;
  }
  .talentRegistration {
    background-position-x: -17px;
    background-position-y: 16px;
  }
  .companyRegistration {
    background-position-x: -30px;
    background-position-y: 19px;
  }
  .btnCompany,
  .btnTalent {
    margin: 0px !important;
  }
  .formulary {
    margin-top: 0px !important;
  }
  .companyReg,
  .talentReg {
    font-size: smaller;
    margin: 10px;
  }
  .join {
    margin-bottom: 25px;
    width: 148px;
    height: 35px;
  }
}
