.footer {
  margin-top: 15px;
  display: flex;
  border-top: 0.7px solid grey;
  justify-content: space-evenly;  
}
.footList {
  display: inline-block !important;
  padding-left: 20px;
  padding-top: 30px;
}
.socialList {
  display: inline-block !important;
  padding-left: 20px;
  padding-top: 30px;
}
.footList img {
  height: 40px;
}
.footer a {
  filter: grayscale();
  text-decoration: none;
}
a:hover {
  filter: none;
  text-decoration: none;
}
img {
  pointer-events: none;
}


/*------------- iPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/* Iphone 6,7,8 --------*/

@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}
/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/*--------- Landscape position (Horizontal)-------------------*/


/*------------- iPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/* Iphone 6,7,8 --------*/

@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}