.footer {
  height: 150px;
  width: 100%;
  display: flex;
  border-top: 0.7px solid grey;
  justify-content: space-evenly;
  margin-top: 50px;
}
.footList {
  display: inline-block !important;
  padding-left: 20px;
  padding-top: 30px;
}
.socialList {
  display: inline-block !important;
  padding-left: 20px;
  padding-top: 30px;
}
.footList img {
  height: 40px;
}
.footer a {
  filter: grayscale();
  text-decoration: none;
}
a:hover {
  filter: none;
  text-decoration: none;
}
img {
  pointer-events: none;
}

@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .footer {
    margin-top: auto;
  }
  .footList img {
    height: 25px;
  }
  .socialList,
  .footList {
    padding: 5px;
  }
}

@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .footer {
    display: none;
  }
}
