.contactPicture {
  width: 100%;
}
.contact {
  margin-bottom: 50px;
  height: 75vh;
}
.data {
  margin-top: 50px;
}
.data,
.contactPicture {
  display: inline-block;
  height: 330px;
  margin-bottom: 100px;
  padding: 0px !important;
}
.first {
  display: inline-block;
  margin-bottom: 10px!important;
  padding: inherit;
  margin-right: 80px;
}
.second,
.third {
  margin: auto;
  padding: inherit;
  margin-bottom: 35px;
}
.socialMedia {
  display: inline-block!important;
  margin: auto;
  padding: inherit;
  margin-bottom: 35px;
}
.grey {
  color: #b2b2b2 !important; /*OFICIAL GREY*/
}
h1 {
  margin-bottom: 35px !important;
}
h6 {
  margin: auto;
}
.picture {
  width: 100%;
  pointer-events: none;
}
ul {
  padding-inline-start: initial !important;
}
.socialMedia a {
  filter: grayscale();
  text-decoration: none;
}
.socialMedia img {
  height: 40px;
}
li {
  padding-right: 10px;
}
.SocialList {
  display: inline-block !important;
}

@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .data {
    margin-top: 30px !important;
    margin-bottom: 17px !important;
    padding-bottom: 35px !important;
  }
  .data h1 {
    margin-bottom: 5px !important;
  }
  .picture {
    width: 109%;
  }
  .contact {
    margin-bottom: -240px;
    height: 100vh;
  }
  .first,
  .third,
  .socialMedia {
    margin-bottom: -2px !important;
    padding: 5px !important;
  }
  .second {
    margin-bottom: -33px !important;
  }
  .row {
    padding: 5px !important;
    margin: 5px !important;
  }
  .first h5 {
    margin-bottom: 3px !important;
  }
  .second h5 {
    margin-bottom: 3px !important;
  }
  .socialMedia img {
    height: 15px;
  }
}
