#mainNav {
  min-height: 56px;
  border-bottom: 0.7px solid grey !important;
  background-color: white !important;
  z-index: 9999;
  width: 100%;
  position: relative;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: purple;
  border: 1px solid purple;
}
#mainNav .navbar-toggler:focus {
  outline: none;
  
}
#mainNav .navbar-brand {
  font-weight: 700;
  padding: 0.9rem 0;
}
.navbar-collapse {
  display: inline-flex;
  margin-bottom: 10px;
}
#mainNav .navbar-nav .nav-item:hover {
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
.nav-link {
  color: #000000c9!important;
}
.locked {
  height: 30px;
  padding-right: 6px;
  margin-top: 6px;
}
.navbar-nav {
  margin-left: 12px;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: -1rem 1.5rem;
    color: black;
  }
  #mainNav .nav-link:hover {
    color: black;
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: rgba(255, 255, 255, 0.5);
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}
.logo{
  pointer-events: none;
  padding-left: 10px;
}
.buttonLanguage {
  width: 30px;
  height: 30px;
  background-color: unset;
  border: unset;
  margin-right: 3px;
  margin-top: 10px;
  margin-left: 3px;
}
.es {
  background-image: url("../../../img/Spain.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
}
.de {
  background-image: url("../../../img/Germany.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
}
.en {
  background-image: url("../../../img/United-Kingdom.png");
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
}
.dropdown-toggle {
  padding: 0px;
}
.btnLogin {
  padding: 0px;
  background: #57b368;
  border-radius: 30px; 
  width: 82px;
    margin-top: 10px; 
}
.btnLogin a {
  color: white!important;
  padding:0px;  
}


/* --------------- IPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  #mainNav {
   padding: 2px;
  }
  .navbar-nav {
    display: block!important;
  }
  .navbar-toggler {
    margin: 20px;
    padding: 0.5rem;
  }
  .navbar-toggler-icon {
    margin-bottom: 0px!important;
  }
  #mainNav .navbar-brand {
    padding: 0px;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }

/* -------------------Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }
  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }
/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }


 /* -------- Landscape position (Horizontal)----------- */


/* --------------- IPhone 5 ----------- */ 
@media (min-width: 320px) and (max-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  #mainNav {
   padding: 2px;
  }
  .navbar-nav {
    display: block!important;
  }
  .navbar-toggler {
    margin: 20px;
    padding: 0.5rem;
  }
  .navbar-toggler-icon {
    margin-bottom: 0px!important;
  }
  #mainNav .navbar-brand {
    padding: 0px;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }

/* Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }
  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }
/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  #mainNav {
    padding: 2px;
   }
   .navbar-nav {
     display: block!important;
   }
   .navbar-toggler {
     margin: 20px;
     padding: 0.5rem;
   }
   .navbar-toggler-icon {
     margin-bottom: 0px!important;
   }
   #mainNav .navbar-brand {
     padding: 0px;
   }
 }



