.menuTop {
  background-color: #b2b2b2;
  border-bottom: 1px solid #545454;
}
.listTop {
  display: inline-flex;
  list-style: none;
  font-size: 25px;
}
.listTop li {
  margin: 20px;
}
.bodyBlog {
  text-align: left;
  margin-bottom: 80px;
}
.blogTitle {
  margin-bottom: 0px !important;
  margin-top: 50px;
}
.blogSubtitle {
  margin-bottom: 50px;
}
.picture {
  width: 103%;
  margin-bottom: 50px;
}
.picture img {
  width: 99%;
  height: 100%;
}
.blogDescription {
  font-size: larger;
  white-space: pre-wrap;
  max-width: fit-content;
}
.miniPicture {
  width: 100%;
  pointer-events: none;
}
.miniBlog {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
.bordering {
  border-left: 1px solid #b2b2b2;
  text-align: center;
  padding: 0px !important;
}
.socialMedia {
  display: inline-flex !important;
}
.socialMedia img {
  height: 50px;
}
.secondSubtitle {
  margin-bottom: 25px !important;
}
.pictureDescription {
  pointer-events: none;
}

/* ----------------- IPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }

  .picture {
    margin-bottom: 10px !important;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 98%;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 98%;
  }
}

/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 97%;
  }
}

/* Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 97%;
  }
}
/*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 97%;
  }
}

/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 97%;
  }
}

/* ------------------ Landscape positon (Horizontal) ----------------- */

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 98%;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 4) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 98%;
  }
}

/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 4) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 97%;
  }
}

/* ------------ Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
    width:100%!important;
    margin-left: 1px!important;
  }
  .picture img {
    width: 100%;
  }
}
/*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    margin-bottom: 10px !important;
  }
  .picture img {
    width: 97%;
  }
}

/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .bodyBlog {
    padding: 0px !important;
  }
  .descriptionBlog {
    margin: 0px !important;
  }
  .firstBlog {
    padding: 0px !important;
  }
  .blogTitle {
    margin-top: 14px;
  }
  .miniBlog {
    padding: 0px !important;
  }
  .picture {
    width:100%!important;
    margin-left: 1px!important;
  }
  .picture img {
    width: 100%;
  }
}