.btnPurple {
  background-color: #67397d; /*OFICIAL VIOLET*/
  border: none;
  color: white !important;
  overflow: hidden;
  margin: 1rem;
  padding: 6px;
  width: 230px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 0px;
}
.finalButton {
  text-align: center;
}
.btnPurple a {
  text-decoration: none !important;
}
.btnPurple a:link {
  color: white !important;
}
.btnPurple a:visited {
  color: white !important;
}
.btnPurple a:hover {
  color: white !important;
}
.btnInPicture3 {
  width: 325px;
  height: 41px;
  background-color: #67397d;
  color:white;
  margin-left: 4%;
  border-radius: 30px;
  border: 1px solid white;
  margin-top: 385px !important;
  font-size: 17px;
  padding: 0px;
  font-weight: bolder;
}

/*------------- iPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}
/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}
/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){

  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4){
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}

/* Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .btnPurple {
    font-size: 0.4rem;
    width: 115px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}

  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .btnPurple {
    font-size: 0.4rem;
    width: 115px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}

/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  .btnPurple {
    font-size: 0.4rem;
    width: 115px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}

/* ------------ Landscape position (Horizontal) -------------*/

/*------------- iPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
     margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}
/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}
/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){

  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 4){
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}

/* Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}

  /*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}

/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  .btnPurple {
    font-size: 0.4rem;
    width: 77px !important;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .btnInPicture3 {
    width: 105px !important;
    height: 16px !important;
    margin-left: -13%;
    border-radius: 11px;
    margin-top: 139px !important;
    font-size: 6px !important;
    padding: 0px;
    font-weight: bolder;
  }
}