.target {
  margin-top: 145px !important;
}
.bold {
  font-size: 22px;
}
.span1 {
  text-align: inherit;
}
.target h1,
h5 {
  margin-bottom: 20px !important;
}
.col-6 {
  padding: 0px;
}
.hands {
  width: 100%;
  pointer-events: none;
}
.meetTeam {
  text-align: center;
  margin-top: 100px;
}
.meetTeam h1 {
  margin-bottom: 0px !important;
}
.meetTeam h5 {
  margin-bottom: 60px !important;
}
.groupPictures {
  width: 90%;
  margin-left: 9%;
  pointer-events: none;
}
.hiring {
  text-align: center;
  margin-top: 100px;
}
.hiring h1 {
  margin-bottom: 0px !important;
}
.hiring h5 {
  margin-bottom: 20px !important;
}
h1 a {
  color: #e72862 !important;
  font-size: 50px !important;
}

/* ------------------- IPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 137%;
    margin-left: -34px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 132%;
    margin-left: -34px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4) {
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 132%;
    margin-left: -34px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4) {
  .team {
    height: 84vh;
  }
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 132%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/* Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .team {
    height: 84vh;
  }
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 131%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}
/*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .team {
    height: 84vh;
  }
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 131%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  .team {
    height: 84vh;
  }
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 131%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/* ----------------------- Landscape position (Horizontal)--------------*/

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 132%;
    margin-left: -34px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 4) {
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 132%;
    margin-left: -34px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 4) {
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 120%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/* --------------- Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  
  .target {
    margin-top: 75px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 119%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}
/*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .target {
    margin-top: 15px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 131%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  .target {
    margin-top: 60px !important;
    padding: 0px !important;
  }
  .target h1 {
    margin-bottom: 10px !important;
  }
  .target strong {
    font-size: 0.7rem !important;
  }
  .span1 {
    font-size: 0.5rem !important;
  }
  .target h5 {
    margin-bottom: 5px !important;
  }
  .hands {
    width: 121%;
    margin-left: -34px;
  }
  .teamPicture {
    margin-bottom: 10px;
  }
  .meetTeam {
    margin-top: 0px;
    padding: 0px !important;
    margin-bottom: 10px;
  }
  .meetTeam h5 {
    margin-bottom: 20px !important;
  }
  .hiring {
    margin-top: 20px;
    margin-bottom: 30px !important;
  }
  .hiring h5, .hiring h1 {
    margin-bottom: 6px !important;
  }
  .jobOffer {
    font-size: 12px !important;
  }
}

