.verification {
  padding: 30px 0 30px 0;
  text-align:center;
}
.verificationUser {
  padding-top: 30px;
  text-align: center;
  background-color: #67397d;
  color:white;
}
.verificationCompany {
  padding-top: 30px;
  text-align: center;
  background-color:#57b368;
  color:white;
}
.btnHome2 {
  background-color: #3c7e4a; /* OFICIAL DARK GREEN */
  color: white;
  border-radius: 30px;
  padding: 0px;
  width: 120px;
  margin: 25px 0 25px 0;
}

.btnHome {
  background-color: #e72862; /* OFICIAL PINK */
  color: white;
  border-radius: 30px;
  padding: 0px;
  width: 120px;
  margin: 25px 0 25px 0;
}

@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  .verification {
    margin-top: 25px;
    height: 53vh;
  }
  .verification h1 {
    margin-bottom: 15px !important;
  }
  .verification h4 {
    margin-bottom: 15px;
  }
  .thankYou {
    height: 150px;
    margin-top: 80px;
  }
}
