@font-face {
  /*to import local fonts*/
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/MyriadPro/MyriadPro-Regular.otf");
}
body {
  font-family: "MyriadPro" !important; /*necesary important*/
}
/* h1 {
  font-style: bolder !important;
} */
.cookies {
  position: fixed;
  background-color: #545454;
  z-index: 400;
  height: 140px;
  bottom: 0;
  text-align: center;
}
.cookieTxt {
  color: white !important;
  margin-top: 35px;
}
.cookies a {
  color: orangered !important;
  text-decoration: underline !important;
}
.btnCookie {
  margin: auto !important;
  margin-left: 10px !important;
  border: 1px solid white !important;
  margin-top: 5px !important;
  padding: 8px !important;
}

/* -------------- IPhone 5 ----------- */
@media (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  h1,
  h3,
  h4 {
    font-size: 0.7rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.6rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.4rem !important;
   
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.6rem !important;
  }
  a {
    font-size: 6px;
  }
}

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4) {
  h1,
  h3,
  h4 {
    font-size: 0.7rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.6rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.4rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.6rem !important;
  }
  a {
    font-size: 7px;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 4) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}

/* Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 10px;
  }
}
/*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 10px;
  }
}
/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 10px;
  }
}

/*------- Landscape position (Horizontal) --------------*/

/* ------ Samsung S4,S5 ----------- */
@media (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}

/*--------- Samsung S6,S7,S7+ -------------*/
@media (min-width: 360px) and (max-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 4) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}
/*--------- Samsung S8,S8+, NOTE 8 -------------*/
@media (min-width: 360px) and (max-height: 740px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 4) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}

/* ---------- Iphone 6,7,8 --------*/
@media (min-width: 375px) and (max-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}
/*--------- Iphone X -------------*/
@media (min-width: 375px) and (max-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}
/*--------- Iphone 6+,7+,8+ -------------*/
@media (min-width: 414px) and (max-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  h1,
  h3,
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 10px !important;
  }
  input {
    height: 30px !important;
    width: 200px !important;
  }
  h2 {
    font-size: 0.7rem !important;
  }
  h5,
  h6,
  p,
  span {
    font-size: 0.5rem !important;
  }
  .cookies {
    height: 64px;
  }
  .cookieTxt {
    margin-top: 0px !important;
  }
  .btnCookie {
    padding: 4px !important;
    margin: 5px !important;
    font-size: 0.7rem !important;
  }
  a {
    font-size: 7px;
  }
}